html, body {
    margin: 0;
    padding: 0;
    font-family: Pacifico, cursive;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'RaleWay';
    src: url('/assets/fonts/Raleway-Regular.ttf');
    font-size: 60px;
}
