@import "colors.css";

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
