@font-face {
    font-family: 'Pacifico';
    src: url('../../public/assets/fonts/Pacifico.ttf');
    font-weight: normal;
    font-style: normal;
  }

.frontpage {
    font-family: 'Pacifico';
    padding: 20px;
    color: #121212;
  }

  .frontpage h1{
    font-family: 'Pacifico';
    padding-left: 12.5%;
    color: #121212;
    margin-bottom: 0;
    margin-top: 0px;
  }

  .frontpage p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0;
    padding-left: 12.5%;
    color: #121212;
  }
  
  /* Hero Banner */
  .hero-banner {
    display: flex;
    position: relative;
    height: 400px;
    width: 75%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;
}
.hero-main {
    position: relative;
    flex: 3;
    overflow: hidden;
}

.hero-banner img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
    /*transition: transform 0.4s ease;*/
  }
/*
  .hero-banner:hover img {
    transform: scale(1.1);
  }
  */
  .hero-text {
    position: absolute;
    width: 160px;
    bottom: 30px;
    left: 2%;
    bottom: 4%;
    background: rgba(255, 255, 255, 0.1); /* fallback color */
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
  }
  
  .hero-text h1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
    padding-left: 0px;
    color: #FFFAF0;
  }
  
  .hero-text p {
    font-size: 1rem;
    color: #FFFAF0;
  }
  
  .hero-text button {
    font-family: 'Pacifico';
    font-size: 16px;
    padding: 5px 20px;
    margin-top: 5px;
    border: none;
    background-color: #f4b111;
    color: #FFFAF0;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
  }
  

  .hero-side-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 16px;
    overflow-y: auto;
  }
  
  .side-game {
    display: flex;
    flex-direction: row;
    background-color: #2a2a2a;
    height: 25%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.side-game:hover img{
    transform: scale(1.1);
}

.side-game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
  }
  
  .side-game p {
    padding: 6px;
    margin: 0;
    font-size: 0.9rem;
    color: #FFFAF0;
    text-align: center;
    background-color: #121212;
    z-index: 1;
    width: 300px;
    align-content: center;
  }

  .discover {
    margin-bottom: 40px;
    position: relative;
    width: 80.2%;
    margin: auto;
  }
  
  .discover h2 {
    margin-bottom: 12px;
    font-size: 1.5rem;
    color: #121212;
    transform: translateX(3.4%);
  }
  .discover P {
    transform: translateX(-9.1%);
  }
  
  .horizontal-scroll {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding-bottom: 10px;
  }

  .scroll-section {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 40px 0;
    margin-top: 0px;
  }
  
  .scroll-arrow {
    width: 38px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    transition: background 0.3s ease;
  }
  
  .scroll-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .scroll-arrow.left {
    border-radius: 50px 0 0 50px;
    background-color: #f4b111;
  }
  
  .scroll-arrow.right {
    border-radius: 0 50px 50px 0;
    background-color: #f4b111;
  }
  
  .game-card {
    flex: 0 0 auto;
    width: 209.217px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    background-color: #121212;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 94%, rgba(237, 221, 83, 0) 76%);
  }
  
  .game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #f4b111;
  }

  .bottom img {
    position: absolute;
    width: 209.217px;
    height: auto;
    display: block;
    bottom: 0%;
    border-bottom: 0;
  }
  
  .game-card p {
    text-align: center;
    position: relative;
    font-size: 0.95rem;
    color: #FFFAF0;
  }

  .price-wrapper {
    display: flex;
    align-items: baseline; /* aligns the price texts nicely */
    gap: 0px;
    flex-wrap: wrap; /* allows wrap if needed */
    justify-content: end;
  }

  .discount {
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFFAF0; /* green-ish */
  }
  
  .discounted-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFFAF0; /* green-ish */
  }
  
  .original-price {
    font-size: 0.95rem;
    text-decoration: line-through;
    color: #a1a1aa; /* soft gray */
  }
