@font-face {
    font-family: 'Pacifico';
    src: url('/assets/fonts/Pacifico.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'RaleWay';
  src: url('/assets/fonts/Raleway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Raleway, sans-serif;
    min-height: 100vh;
}

webshop-page-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to top right, rgba(28, 37, 148, 0.3), rgba(91, 202, 243, 0.3));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.login-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 50px auto;
}

.login-grid label {
    font-weight: bold;
}

.login-grid > div {
    display: flex;
    flex-direction: column;
}

/* Knop styling */
button.loginBtn {
    padding: 10px 20px;
    background-color: #ff9900;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    align-self: center;
}

button.loginBtn:hover {
    background-color: #ffcc00;
    transition: background-color 0.3s ease;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    text-align: center;
}

.success-message {
    margin-top: 10px;
    color: green;
    font-size: 14px;
    text-align: center;
}

.loginForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.loginForm .full-width h3 {
    text-align: center;
    margin-top: 20px;
}

.loginForm .full-width .redirectRegister {
    color: #ff9900;
    text-decoration: none;
}

.loginForm .full-width .redirectRegister:hover {
    text-decoration: underline;
    color: #ffcc00;
}

#terms {
font-family: "RaleWay";
}
