@import "colors.css";

html,
body {
    padding: 0;
    margin: 0;
}

.gameTile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid var(--black);
}

.gameTile p {
    font-size: 20px;
}

#gameImage {
    grid-row: span 2 / span 2;
    border-right: 1px solid var(--black);
    justify-self: stretch;
    width: 100%;
    height: 100%;
}

#gameName {
    padding-left: 3%;
}

#gamePrice {
    place-self: start end;
    padding-right: 3%;
}

#gameButtons {
    display: flex;
    justify-content: flex-end;
    grid-column-start: 3;
    place-self: end;
    gap: 5%;

}

#gameButtons img {
    height: 45px;
    width: 45px;
}

#gameButtons button {
    background-color: var(--white);
    border: none;
    outline: none;
    box-shadow: none;
}
