@import "colors.css";

#tileContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

}

#tileContainer h1 {
    margin-top: 0;
    margin-left: 0;
}

#shoppingCart {
    display: flex;
    flex-direction: column;
}

#shoppingCart a {
    text-decoration: underline;
}

#priceContainer {
    border: 1px var(--black) solid;
}

#price {
    display: flex;
    justify-content: space-between;
}

#discountAmount {
    display: flex;
    justify-content: space-between;
}

#discountInput {
    display: flex;
    justify-content: space-between;
}

#totalPrice {
    display: flex;
    justify-content: space-between;
}

    #priceContainer input {
border: 2px solid #f4b111;
    }

    .checkout {
        position: absolute;
        margin-top: 210px;
        right: 10.3%;
        background-color: #f4b111;
        width: 260px;
        height: 65px;
        text-align: center;
        font-size: 32px;
        line-height: 60px;
        text-decoration: none;
        color: #121212;
    }

@media (max-width: 768px) {
    #tileContainer {
        flex-direction: column;
        align-items: center;
    }
    
    #shoppingCart,
    #priceContainer {
        width: 90%;
        margin-bottom: 20px;
    }

    #price {
        margin-top: -10px;
        margin-bottom: -10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #discountAmount {
        margin-top: -25px;
        margin-bottom: -10px;
        border-bottom: 1px solid black;
                padding-left: 5px;
        padding-right: 5px;
    }

        #discountInput {
        margin-top: 25px;
        margin-bottom: -10px;
                padding-left: 5px;
        padding-right: 5px;
    }

            #totalPrice {
        margin-bottom: -10px;
                padding-left: 5px;
        padding-right: 5px;
    }

    .checkout {
                right: 0;
        position: relative;
        background-color: #f4b111;
        margin-top: 0;
        width: 90%;
        height: 65px;
        text-align: center;
        font-size: 32px;
          line-height: 60px;
            text-decoration: none; /* no underline */
            color: #121212;
    }
}
