#profilePictureButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4f46e5;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

#profilePictureButton:hover {
    background-color: #3730a3;
}
