:root {
    --white: #FFFAF0;
    --blue: #1C2594;
    --black: #1B1212;
    --light-blue: #7883CE;
    --blue-gradient: linear-gradient(90deg, rgba(28, 37, 148, 1) 0%, rgba(91, 202, 243, 1) 100%);
}

@font-face {
    font-family: 'Pacifico';
    src: url('/assets/fonts/Pacifico.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Raleway, sans-serif;
    min-height: 100vh;
}

webshop-page-register {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.registerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to top right, rgba(28, 37, 148, 0.3), rgba(91, 202, 243, 0.3));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 50px;
}

.registerForm #top img {
    width: 55px;
    height: 70px;
}

.register-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    width: calc(100% - 50px);
    margin: 25px 25px 0px;
}

.register-grid label {
    font-size: 32px;
    font-weight: bold;
}

.register-grid .longLabel {
    font-size: 20px;
}

.full-width {
    grid-column: span 2;
}

.register-grid #newsletter #terms {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;  /* Zorg ervoor dat de tekst naast de checkbox komt */
}

#newsletter, #terms {
    font-size: 14px;
}

/* Knop styling */
button.registerBtn {
    padding: 10px 20px;
    background-color: #ff9900;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--black);
    transition: background-color 0.3s ease;
    margin: 20px auto 20px;
    align-self: center;
    scale: 1.5;
}

button.registerBtn:hover {
    background-color: #ffcc00;
    transition: background-color 0.3s ease;
}

.register-grid input {
    width: calc(100% - 6px);
    height: 30px;
    border: 1px solid #ff9900;
    font-size: 22px;
}

.register-grid input::placeholder {
    font-size: 22px;
}

.register-grid input:focus {
    border: 1px solid #5d5c55;
}

.register-grid select {
    width: 100%;
    border: 1px solid #ff9900;
    height: 34px;
    font-size: 22px;
    background-color: var(--white);
}

.register-grid select:focus {
    border: 1px solid #ffcc00;
}

.register-grid .full-width input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ffcc00;
    outline: none;
    accent-color: #ffcc00;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.register-grid .full-width input {
    width: calc(100% - 6.218px);
}

.register-grid .full-width-label {
    display: flex
}

.redirectLogin {
    text-align: center;
    color: white;
    text-decoration: none;
}

.redirectLogin:hover {
    color: #ffcc00;
}

.register-grid .full-width input[type="checkbox"]:checked {
    background-color: transparent;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

.success-message {
    margin-top: 10px;
    color: green;
    font-size: 14px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registerForm .full-width h3 {
    text-align: center;
    margin-top: 20px;
}

.registerForm .full-width .redirectLogin {
    color: #ff9900;
    text-decoration: none;
}

.registerForm .full-width .redirectLogin:hover {
    color: #ffcc00;
}
