body {
    background-image: linear-gradient(to right, #1C2594, #7883CE, #1C2594);
    background-repeat: no-repeat;
    height: 100vh;
}

.registerForm {
    background: rgba(120, 131, 206, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(120, 131, 206, 0.3);
    width: 581px;
    height: 770px;
    position: relative;
    top: 50px;
    left: 430px;
}